---
import ContentSection from "~/components/content-section.astro";
import CompatibilityList from "~/components/compatibility-list.astro";

const frameworks = [
  {
    title: "WooCommmerce",
    icon: "frameworks/react",
    url: "https://woocommerce.com/",
  },
    {
    title: "Solid",
    icon: "frameworks/solid",
    url: "https://www.solidjs.com/",
  },
  {
    title: "Lit",
    icon: "frameworks/lit",
    url: "https://lit.dev/",
  },
];

const platforms = [
  {
    title: "Cloudflare",
    icon: "fa-brands:cloudflare",
    url: "https://pages.cloudflare.com/",
  },
  {
    title: "GitHub",
    icon: "fa-brands:github",
    url: "https://pages.github.com/",
  },
  {
    title: "GitLab",
    icon: "fa-brands:gitlab",
    url: "https://docs.gitlab.com/ee/user/project/pages/",
  },
];
---

<ContentSection title="Compatibility" id="compatibility">
  <Fragment slot="lead">
    ShipitSmarter <span class="text-primary">plays nice</span>. 
    Integrate and deploy to your favorite <span class="text-primary">platform</span>.
  </Fragment>
  <CompatibilityList
    title="Frameworks"
    data={frameworks}
    url="https://docs.astro.build/core-concepts/framework-components/"
  />
  <CompatibilityList
    title="Platforms"
    data={platforms}
    url="https://docs.astro.build/guides/deploy/"
  />
</ContentSection>
